@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

ul{
  list-style-type:none;
  text-align:center;
  width:100%;
  font-size:100%;
}

li a{
  float: left;
}

li a{
  color:#b3a394;
  padding: 10px;
  font-family: 'Playfair Display';
  text-decoration-line:none;
}

li a:hover{
  background-color: #ffe5ec;
}

body{
  background-color:#ffc2d1;
}

p{
  color:#fcf6bd;
  font-family: 'Playfair Display';
  font-size:150%;
}

