@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

ul{
  list-sytle-type:none;
  text-align:center;
  width:100%;
  font-size:120%;
}

li a{
  float: left;
}

li a{
  color:#caffd0;
  padding: 15px;
  font-family: 'Playfair Display';
  text-decoration-line:none;
}

li a:hover{
  background-color: #333533;
}

body{
  background-color:#242423;
}

h2{
  color:#FFC0CB;
  font-family: 'Playfair Display';
  font-size:360%;
  letter-spacing:3px;
} 

p{
  color:#fcf6bd;
  font-family: 'Playfair Display';
  font-size:160%;
}
